# Supabase enviroment variables (Database)
VITE_SUPABASE_URL=
VITE_SUPABASE_KEY=

# Chatbot enviroment variables (Lizbeth and her Prompt)
GEMINI_API_KEY=
VITE_LIZBETH_SYSTEM_PROMPT=

# Cloudinary enviroment variables (Uploading images for posts)
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
VITE_CLOUDINARY_API_KEY=
VITE_CLOUDINARY_API_SECRET=